<h1 class="task-headline">Add Task</h1>
<div class="task-container">
    <div class="task-left">
        <div class="input-container">
            <label>Title</label>
            <div class="input-field">
                <input id="title" type="text" placeholder="Enter a title">
            </div>
            <p class="required d-none ">This field is required</p>
        </div>
        <div class="input-container">
            <label>Description</label>
            <textarea class="textarea-field" name="" id="description" rows="3"
                placeholder="Enter a description"></textarea>
            <p class="required d-none ">This field is required</p>
        </div>
        <div class="input-container">
            <label>Category</label>
            <div class="toggle-menu">
                <div id="toggle-menu" class="select-task-category" onclick="toggleMenu('toggle-1')">
                    <span>Select task category</span>
                    <img src=" ./img/triangle.svg">
                </div>
                <div id="category-input" class="input-field d-none">
                    <input type="text" placeholder="New category name">
                    <div class="add-input">
                        <img class="x" src="./img/black-x.svg">
                        <img src="./img/tick_dark.svg">
                    </div>
                </div>
                <div id="toggle-1" class="selection d-none">
                    <span onclick="openInput('toggle-1')">New Category</span>
                    <div class="category">
                        <span>Sales</span>
                        <div class="color-circle magenta"></div>
                    </div>
                    <div class="category">
                        <span>Backoffice</span>
                        <div class="color-circle turquoise"></div>
                    </div>
                </div>
            </div>
            <div id="color-container" class="color-container d-none">
                <div class="color-circle ligth-blue"></div>
                <div class="color-circle red"></div>
                <div class="color-circle green"></div>
                <div class="color-circle orange"></div>
                <div class="color-circle purple"></div>
                <div class="color-circle brigth-blue"></div>
            </div>
        </div>
        <div class="input-container">
            <label>Assigned to</label>
            <div class="toggle-menu">
                <div class="assigned-to" onclick="toggleMenu('toggle-2')">
                    <span>Select contact to assign</span>
                    <img src="./img/triangle.svg">
                </div>
                <div id="category-input" class="input-field d-none">
                    <input type="text" placeholder="New category name">
                    <div class="add-input">
                        <img class="x" src="./img/black-x.svg">
                        <img src="./img/tick_dark.svg">
                    </div>
                </div>
                <div id="toggle-2" class="selection d-none">
                    <div class="contact">
                        <span>You</span>
                        <input type="checkbox">
                    </div>
                    <div class="contact" onclick="openInput('toggle-2')">
                        <span>invite new contact</span>
                        <img src="./img/contact_dark.svg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="task-right">
        <div class="input-container">
            <label>Due date</label>
            <div class="add-task-date input-field">
                <input type="date" placeholder="dd/mm/y">
                <p class="required d-none ">This field is required</p>
            </div>
        </div>
        <div class="input-container">
            <label>Prio</label>
            <div class="prio-btn">
                <button><span>Urgent</span><img class="prio-img" src="./img/prio_urgent.svg"></button>
                <button><span>Medium</span><img class="prio-img" src="./img/prio_medium.svg"></button>
                <button><span>Low</span><img class="prio-img" src="./img/prio_low.svg"></button>
            </div>
        </div>
        <div class="input-container">
            <label>Subtasks</label>
            <div class="input-field">
                <input type="text">
                <img src="./img/plus_dark.svg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="add-task-buttons">
    <button class="transparent-btn clear-btn"><span>clear x</span></button>
    <button class="dark-btn create-btn"><span>Create Task</span><img src="./img/tick_white.svg" alt=""></button>
</div>