<head>
    <link rel="stylesheet" href="styles/style.css".css>
    <link rel="stylesheet" href="styles/menu.css".css>
    <link rel="stylesheet" href="styles/fonts.css".css>
    <script src="javascript/menu.js"></script>
</head>
<body onload="init()">
    <div class="join-headline"></div>
    <div class="join-menu">
        <img src="img/join_logo_menu.svg" class="join-logo-menu" alt="">
        <div class="menu" id="menu">
            <div class="menu-icon-text" onclick="window.location.href = 'summary.html'">
                <div class="icon">
                    <img src="img/summary_icon.svg" alt="">
                </div>
                <div class="text">
                    <p>Summary</p>
                </div>
            </div>
            <div class="menu-icon-text" onclick="window.location.href = 'board.html'">
                <div class="icon">
                    <img src="img/board_icon.svg" alt="">
                </div>
                <div class="text">
                    <p>Board</p>
                </div>
            </div>
            <div class="menu-icon-text" onclick="window.location.href = 'add_task.html'">
                <div class="icon">
                    <img src="img/add_task_icon.svg" alt="">
                </div>
                <div class="text">
                    <p>Add Task</p>
                </div>
            </div>
            <div class="menu-icon-text" onclick="window.location.href = 'contacts.html'">
                <div class="icon">
                    <img src="img/contacts_icon.svg" alt="" class="contacts-icon">
                </div>
                <div class="text">
                    <p>Contacts</p>
                </div>
            </div>
        </div>
        <div class="legal-notice">
            <div class="menu-icon-text" onclick="window.location.href = 'legal_notice.html'">
                <div class="icon legal-notice-icon">
                    <img src="img/legal_notice_icon.svg" alt="" class="contacts-icon">
                </div>
                <div class="text">
                    <p>Legal notice</p>
                </div>
            </div>
        </div>
    </div>
</body>




