.join-menu {
    width: 0;
    visibility: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
}

label {
    font-size: 18px;
}

.input-field {
    display: flex;
    align-items: center;
    width: 320px;
    height: 41px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    font-family: 'Inter';
    cursor: pointer;
}

.input-field input {
    width: 270px;
    padding-left: 6px;
    font-size: 20px;
    border: 0;
    background-color: transparent;
    outline: none;
    font-family: 'Inter';
    cursor: pointer;
}

.textarea-field {
    padding-left: 6px;
    resize: vertical;
    width: 320px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    font-family: 'Inter';
}

.toggle-menu {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: max-content;
    border: 1px solid #A8A8A8;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Inter';
    cursor: pointer;
}

.assigned-to,
.select-task-category {
    height: 41px;
    padding: 0px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selection {
    padding-left: 6px;
}

.category {
    display: flex;
    align-items: center;
    gap: 6px
}

.contact {
    display: flex;
    justify-content: space-between;
}

.required {
    margin-top: 6px;
    color: rgb(251, 129, 144);
}

.prio-btn {
    display: flex;
    width: 320px;
    height: 40px;
}

.prio-btn button:hover {
    -webkit-box-shadow: 0px 10px 9px -3px #979797;
    box-shadow: 0px 5px 9px -3px #979797;
}

.prio-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    margin-left: 4px;
    flex: 1;
    cursor: pointer;
}

.prio-img {
    width: 20px;
    height: 18px;
}

.clear-btn {
    width: 100px;
    font-size: 20px;
}

.create-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.add-task-buttons {
    width: 322;
    display: flex;
    gap: 20px;
}

::placeholder {
    opacity: 0.5;
}

.color-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.ligth-blue {
    background-color: #8AA4FF;
}

.red {
    background-color: #FB0101;
}

.green {
    background-color: #43D300;
}

.orange {
    background-color: #FD8A01;
}

.purple {
    background-color: #E224BE;
}

.brigth-blue {
    background-color: #013DFF;
}

.turquoise {
    background-color: #33D7C1;
}

.magenta {
    background-color: #F771FF;
}

.color-container {
    display: flex;
    gap: 6px
}

.add-input {
    display: flex;
    gap: 6px;
}

.x {
    border-right: 1px solid rgb(219, 219, 219);
    padding: 6px;
}



@media(min-width: 1200px) {

    .add-task-buttons {
        width: 850px;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }

    .toggle-menu,
    .input-field {
        width: 400px;
    }

    .input-field span,
    .input-field input {
        width: 350px;

    }

    .textarea-field {
        width: 400px;
    }

    .textarea-field textarea {
        width: 390px;
    }

    .prio-btn {
        width: 400px;
    }

    .join-menu {
        visibility: visible;
        position: fixed;
        top: 0px;
        width: 232px;
        height: 100%;
        background: darkgrey;
    }

    .container {
        display: flex;
        align-items: flex-start;
        margin-left: calc(232px + 5%);
    }

    .task-container {
        display: flex;


    }

    .task-left {
        display: flex;
        flex-direction: column;
        border-right: 1px solid rgb(219, 219, 219);
        padding-right: 20px;
    }

    .task-right {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }




}