.join-menu {
    width: 0;
    visibility: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 6px;
}

/* inputfield */

label {
    font-size: 18px;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    height: 41px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    cursor: pointer;
}

.input-field input {
    width: 220px;
    padding-left: 6px;
    font-size: 20px;
    border: 0;
    background-color: transparent;
    font-family: 'Inter';
    cursor: pointer;
}

/* textarea */

.textarea-field {
    padding-left: 6px;
    resize: vertical;
    width: 310px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    font-family: 'Inter';
}

input:focus,
textarea:focus {
    outline: none;
}

/* toggle Menu Category */

.toggle-menu {
    position: relative;
    display: inline-block;
    display: flex;
    flex-direction: column;
    width: 320px;
    height: max-content;
    border: none;
    font-size: 20px;
    font-family: 'Inter';
    cursor: pointer;
}

.assigned-to,
.select-task-category {
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    height: 41px;
    padding: 0px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selection {
    position: absolute;
    top: 41px;
    width: 99%;
    background-color: #f0f0f0FF;
    border-radius: 10px;
    padding-left: 6px;
    padding-bottom: 6px;
    z-index: 1;

}

.category {
    padding-right: 6px;
    padding-bottom: 6px;
    display: flex;
    justify-content: space-between;
    gap: 6px
}

.category-name {
    width: 280px;
    display: flex;
    align-items: center;
    gap: 6px
}


/* toggle Menu Contact */
.contact {
    padding: 6px 0px;
    padding-right: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category:hover,
.contact:hover {
    background-color: rgb(209, 209, 209);
}

/* dueDate */
input[type="date"]::-webkit-calendar-picker-indicator {
    background: url("../img/calender.svg");
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.due-date input {
    width: 300px;

}

/* prio Button */
.prio-btn {
    display: flex;
    width: 320px;
    height: 40px;
}

.prio-btn button:hover {
    -webkit-box-shadow: 0px 10px 9px -3px #979797;
    box-shadow: 0px 5px 9px -3px #979797;
}

.prio-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    margin-left: 4px;
    flex: 1;
    cursor: pointer;
}

.prio-img {
    width: 20px;
    height: 18px;
}

.urgent-aktiv {
    color: white;
    background-color: rgb(251, 62, 0);
}

.medium-aktiv {
    color: white;
    background-color: rgb(255, 168, 0)
}

.low-aktiv {
    color: white;
    background-color: rgb(122, 226, 42);
}

/* subtasks */

.subtask-input,
.add-input {
    padding-right: 6px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.subtask {
    margin: 6px;
    display: flex;
    justify-content: space-between;

}

#subtask-plus {
    margin-right: 6px;
}

.x {
    border-right: 1px solid rgb(219, 219, 219);
    padding: 6px;
}

/* Clear and Add_Task Button */
.clear-btn {
    width: 100px;
    font-size: 20px;
}

.create-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.add-task-buttons {
    width: 322;
    display: flex;
    gap: 20px;
}

/* Color Circles Category */
.color-circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.color-container div:hover {
    border: 2px solid #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.color-container {
    display: flex;
    gap: 8px
}

/* Color Circles Contact */

.color-circle-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.color-container-contact {
    display: flex;
    gap: 12px
}

::placeholder {
    opacity: 0.5;
}

.required {
    margin-top: 4px;
    margin-bottom: px;
    color: rgb(251, 129, 144);
}

@media(min-width: 600px) {

    .join-menu {
        visibility: visible;
        position: fixed;
        top: 0px;
        width: 232px;
        height: 100%;
        background: darkgrey;
    }

    .container {
        margin-left: calc(232px + 2%);
    }

}


@media(min-width: 1200px) {

    .add-task-buttons {
        width: 850px;
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }

    .toggle-menu,
    .input-field {
        width: 400px;
    }

    .input-field span,
    .input-field input {
        width: 380px;

    }

    .textarea-field {
        width: 390px;
    }

    .textarea-field textarea {
        width: 390px;
    }

    .prio-btn {
        width: 400px;
    }

    .join-menu {
        visibility: visible;
        position: fixed;
        top: 0px;
        width: 232px;
        height: 100%;
        background: darkgrey;
    }

    .container {
        display: flex;
        align-items: flex-start;
        margin-left: calc(232px + 5%);
    }

    .task-container {
        display: flex;


    }

    .task-left {
        display: flex;
        flex-direction: column;
        border-right: 1px solid rgb(219, 219, 219);
        padding-right: 20px;
    }

    .task-right {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
    }
}