/* when menu und headline included, you can delete this css and the provisional div in board.html */
.provisional-menu {
    position: fixed;
    top: 0px;
    width: 232px;
    height: 100%;
    background: darkgrey;
}

.provisional-headline {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 89px;
    background: rgb(93, 92, 92);
}

.input-field-search-on-board {
    font-family: 'Inter';
    width: 251px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    transition: 100ms ease-in-out;
}

.input-field-search-on-board input {
    height: 30px;
    font-size: 16px;
    border: 0;
    border-right: 1px solid #d2d2d2;
    background-color: transparent;
    outline: none;
}

.input-field-search-on-board img {
    margin-left: 15px;
    margin-right: 5px;
}

.headline-right {
    display: flex;
}

.add-task-buttons {
    margin-left: 35px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 21px;
    height: 50px;
    font-weight: 600;
    border-radius: 10px;
}

.plus-icon {
    margin-left: 10px;
    height: 17px;
    width: 17px;
    display: flex;
    position: relative;
}

.plus-icon img {
    filter: invert(100%);
}

.tasks-maincontainer-bord {
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 65px;
    margin-top: 100px;
}

.tasks-bord-btn {
    height: 28px;
    display: flex;
    align-items: center;
    padding: 0px;
    background-color: none;
    border-radius: 10px;
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.tasks-bord-btn:hover {
    border: 2px solid rgb(41, 171, 226);
}

.tasks-bord-btn:hover .tasks-bord-plus {
    filter: invert(59%) sepia(97%) saturate(1585%) hue-rotate(165deg) brightness(93%) contrast(90%);
}

.tasks-bord-plus {
    height: 18px;
    padding: 3px;
}

.status-container-bord {
    width: 250px;
    cursor: pointer;
}

.to-do-headline-bord {
    margin-bottom: 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-card-bord {
    display: flex;
    flex-direction: column;
    padding: 18px;
    margin-bottom: 35px;
    display: flex;

}

.task-card-bord:hover {
    -webkit-box-shadow: 0px 10px 9px -3px #979797;
    box-shadow: 0px 5px 9px -3px #979797;
}

.task-card-category {
    width: max-content;
    margin-bottom: 20px;
    padding: 4px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: orange;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.task-card-title {
    white-space: nowrap;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 700;
    color: #2A3647;
}

.task-card-description {
    margin-bottom: 23px;
    color: #A8A8A8;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-card-progressbar-container {
    margin-bottom: 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.task-card-progressbar {
    width: 138px;
    height: 8px;
    background: #F4F4F4;
    border-radius: 2px;
}

.task-card-bar {
    background-color: #29ABE2;
    height: 8px;
    width: 50%;
    border-radius: 2px;
}

.task-card-assigned {
    padding-left: 6px;
    display: flex;
}

.task-card-contact-icon {
    margin-left: -6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: rgb(84, 84, 246);
    color: white;
    border-radius: 17.5px;
    border: 1px solid white;
}

.task-card-prio {
    height: 17px;
    width: 17px;
}

.task-card-ass-prio-container {
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-task-dialog-bord {
    position: absolute;
    right: -130%;
    top: calc((100% - 90%)/2);
    height: 90%;
    width: 85%;
    transition: all 350ms ease-in-out;
    z-index: 2;
}

.x-btn-div {
    margin-top: 35px;
    margin-right: 35px;
    display: flex;
    justify-content: flex-end;
}

.task-overview-bord {
    overflow: hidden;
    width: 623px;
    height: 90%;
    position: absolute;
    right: -130%;
    top: calc((100% - 90%)/2);
    transition: all 350ms ease-in-out;
    z-index: 2;
    display: flex;
    flex-direction: column;
    /* padding: 50px; */
}

.task-overview-container {
    display: flex;
    flex-direction: column;
    height: calc(100% - 85px);
    margin-top: -10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.taskoverview-category {
    margin-bottom: 25px;
    width: max-content;
    padding: 4px;
    padding-left: 36.5px;
    padding-right: 36.5px;
    background-color: orange;
    border-radius: 8px;
    color: white;
    font-size: 27px;
    font-weight: 400;
}

.taskoverview-title {
    margin-bottom: 25px;
    font-size: 61px;
    font-weight: 700;
    color: #2A3647;
}

.taskoverview-description {
    margin-bottom: 23px;
    color: black;
}

.taskoverview-subtask {
    margin-bottom: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    max-height: 60px;
    max-width: max-content;
    overflow-y: auto;
}

.taskoverview-duedate {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}

.taskoverview-span-left {
    margin-right: 25px;
    font-size: 21px;
    font-weight: 700;
}

.taskoverview-span-right {
    font-size: 21px;
    font-weight: 400;
    padding-right: 25px;
}

.taskoverview-span-over {
    font-size: 21px;
    font-weight: 700;
}

.taskoverview-prio {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}

.taskoverview-assignto {
    height: fit-content;
}

.taskoverview-contacts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-width: max-content;
    overflow-y: scroll;

}

.taskoverview-contact {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.taskoverview-contact-icon {
    margin-right: 36.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: rgb(84, 84, 246);
    color: white;
    border-radius: 22.5px;
    border: 1px solid white;
}

.taskoverview-editbutton-container {
    position: absolute;
    width: max-content;
    bottom: 35px;
    right: 35px;
}

.edit-button {
    width: max-content !important;
    height: max-content !important;
}

.edit-button img {
    padding: 13px;
    padding-bottom: 11px;
}