.contacts-section {
    box-sizing: border-box;
    padding-top: 89px;
    margin-left: 232px;
    height: 100vh;
    width: 100%;
    display: flex;
}

.contact-list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 453px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
}

.contact-list::-webkit-scrollbar {
    width: 8px;

}

.contact-list::-webkit-scrollbar-track {
    margin: 10px;
}

.contact-list::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 12px;
}

.contact-list::-webkit-scrollbar-thumb:hover {
    background: #808080;
    border-radius: 12px;
    cursor: pointer;
}



.contact-info-section {
    height: calc(100vh-130px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info-headline-section {
    width: 100%;
    display: flex;

}

.contact-info-headline {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    width: 600px;
    height: 100px;
    margin-left: 32px;
}

.contact-info-headline p {
    font-size: 27px;
}

.border {
    background-color: rgb(41, 171, 226);
    margin-top: 15px;
    margin-bottom: 20px;
    height: 65px;
    width: 3px;
    border-radius: 16px;
}

.contact-info {
    width: 100%;
}

.contact {
    display: flex;
    align-items: center;
    padding-left: 25px;
    width: 357px;
    min-height: 79px;
    border-radius: 10px;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

.contact:hover {
    background: #2A3647;
    border-radius: 10px;
    color: white;
}

.contact-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    font-size: 12px;
    color: white;
    border: 1px solid #FFFFFF;
}

.contact-name-email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 32px;
}

.contact-name {
    display: flex;
    height: 21px;
    font-size: 21px;
    margin-bottom: 16px;
}

.contact-name p {
    padding-right: 12px;
}

.contact-email {
    color: #007CEE;
}

.contact-char {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 357px;
    min-height: 79px;
    border-bottom: 1px solid #D1D1D1;
}

.contact-char p {
    padding-left: 28px;
    font-weight: 400;
    font-size: 21px;
}

.contact-info {
    width: 560px;
    height: 500px;
    margin-top: 50px;
    margin-left: 30px;
}

.contact-info-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    font-size: 47px;
    color: white;
}