.contacts-section {
    box-sizing: border-box;
    padding-top: 89px;
    margin-left: 232px;
    height: 100vh;
    width: 100%;
    display: flex;
}

.contact-list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 453px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
}

.contact-list::-webkit-scrollbar {
    width: 8px;

}

.contact-list::-webkit-scrollbar-track {
    margin: 10px;
}

.contact-list::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 12px;
}

.contact-list::-webkit-scrollbar-thumb:hover {
    background: #808080;
    border-radius: 12px;
    cursor: pointer;
}

.contact-info-section {
    display: flex;
    flex-direction: column;
}

.contact-info-headline-section {
    width: 100%;
    display: flex;

}

.contact-info-headline {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    width: 600px;
    height: 100px;
    margin-left: 32px;
}

.contact-info-headline p {
    font-size: 27px;
}

.border {
    background-color: rgb(41, 171, 226);
    margin-top: 15px;
    margin-bottom: 20px;
    height: 65px;
    width: 3px;
    border-radius: 16px;
}

.contacts {
    display: flex;
    align-items: center;
    width: 357px;
    min-height: 79px;
    border-radius: 10px;
    cursor: pointer;
    transition: 100ms ease-in-out;
    margin-top: 2px;
    margin-bottom: 2px;
}

.contacts:hover {
    background: #2A3647;
    border-radius: 10px;
    color: white;
}

.contact-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    font-size: 12px;
    color: white;
    border: 1px solid #FFFFFF;
    margin-right: 30px;
    margin-left: 18px;
}

.contact-name-email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-name {
    display: flex;
    height: 21px;
    font-size: 21px;
    margin-bottom: 16px;
}

.contact-name p {
    padding-right: 12px;
}

.contact-email {
    color: #007CEE;
}

.contact-char {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 357px;
    min-height: 79px;
    border-bottom: 1px solid #D1D1D1;
}

.contact-char p {
    padding-left: 32px;
    font-weight: 400;
    font-size: 21px;
}

.contact-info {
    width: 100%;
    height: 500px;
    margin-top: 60px;
    margin-left: 60px;
}

.contact-info-initials-name-add-task {
    height: auto;
    display: flex;
    align-items: center;
}

.contact-info-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    font-size: 47px;
    color: white;
}

.contact-info-name-add-task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 110px;
    padding-left: 32px;
}

.contact-info-name {
    word-wrap: break-word;
    margin: 0;
    font-weight: 500;
    font-size: 47px;
}

.contact-info-add-task {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    height: 20px;
    padding: 10px;
    color: #29ABE2;
    transition: 100ms ease-in-out;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.contact-plus-icon {
    background-image: url('../img/add_task_for_contact.svg');
    width: 20px;
    height: 20px;
    background-size: cover;
    background-position: center;
    transition: 100ms ease-in-out;
}

.contact-info-add-task:hover {
    display: flex;
    justify-content: space-around;
    background-color: rgb(68, 182, 230);
    -webkit-box-shadow: 0px 10px 9px -3px #979797;
    box-shadow: 0px 5px 9px -3px #979797;
    border-radius: 10px;
    color: white;
}

.contact-info-add-task:hover .contact-plus-icon {
    background-image: url('../img/plus_icon_hover.svg');
}

.contact-info-add-task p {
    margin: 0;
}

.contact-information-edit-contact {
    display: flex;
    justify-content: space-between;
    width: 380px;
    margin-top: 40px;
}

.contact-information-edit-contact p {
    margin: 0;
}

.contact-information {
    display: flex;
    align-items: center;
    font-size: 21px;
}

.edit-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 20px;
    padding: 10px;
    transition: 100ms ease-in-out;
    border-radius: 10px;
    cursor: pointer !important;
}

.edit-contact:hover {
    -webkit-box-shadow: 0px 10px 9px -3px #979797;
    box-shadow: 0px 5px 9px -3px #979797;
    background-color: rgb(68, 182, 230);
    color: white;
}

.pen-icon {
    background-image: url('../img/edit_contact_icon.svg');
    width: 18px;
    height: 25px;
    background-size: cover;
    background-position: center;
    transition: 100ms ease-in-out;
}

.edit-contact:hover .pen-icon {
    background-image: url('../img/edit_contact_icon_hover.svg');
}

.contact-info-email-phone {
    margin-top: 32px;
    min-height: 160px;
    width: 372px;
    display: flex;
    justify-content: space-between;
}

.contact-info-email-phone p {
    margin: 0;
}

.email-phone {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info-email {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info-phone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weight-1000 {
    font-weight: 1000;
    margin-bottom: 8px !important;
}

.contact-info-email-underline {
    word-wrap: break-word;
    width: 300px;
    color: #007CEE;
    cursor: pointer;
    margin-bottom: 10px !important;
}

.contact-info-email-underline:hover {
    text-decoration: underline;
}

.selected-contact-info {
    background-color: #2A3647;
    color: white;
}

.new-contact {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.new-contact p {
    margin-left: 8px;
}

.new-contact img {
    width: 25px;
    margin-right: 8px;
}

.pos-fixed {
    position: fixed;
    bottom: 64px;
    right: 52px;
}

.no-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.no-contacts-text {
    max-width: 440px;
    margin-bottom: 26px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #A8A8A8;
}

/********ADD NEW CONTACT********/

.add-new-contact-section {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.467);
    backdrop-filter: blur(2px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.add-new-contact-container {
    width: 1212px !important;
    height: 594px !important;
    border-radius: 30px;
    background-color: white;
    display: flex;
    position: fixed;
    top: 50;
    width: 100%;
    height: 100%;
    z-index: 1000;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.slide-in {
    animation-name: slide-in;
    animation-fill-mode: forwards;
}

.slide-out {
    animation-name: slide-out;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

.add-new-contact-headline {
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #2A3647;
    width: 463px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.add-new-contact-headline p {
    font-size: 27px;
    margin: 0;
    margin-top: 12px;
}

.add-new-contact-headline img {
    width: 55.12px;
    height: 66.48px;
    margin-bottom: 6px;
}

.add-contact-border {
    margin-top: 10px;
    width: 90px;
    height: 2px;
    background-color: #29ABE2;
    border-radius: 10px;
}

.add-contact {
    cursor: text !important;
}

.add-contact input {
    cursor: text !important;
    width: 330px !important;
}

.add-new-contact-headline-height {
    height: fit-content;
    width: fit-content;
    margin-bottom: 32px;
}

.add-new-contact-form-section {
    display: flex;
    justify-content: space-between;
    width: 749px;
}

.add-new-contact-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 60px;
}

.empty-profile-picutre {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 200px;
    height: 100%;
}

.empty-profile-picutre img {
    width: 120px;
}

.close-form-btn {
    display: flex;
    justify-content: end;
}

.close-form-btn img {
    cursor: pointer;
}

.input-form {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-form input {
    height: 75%;
    border-radius: 6px;
}

.input-form div {
    width: 93% !important;
    min-height: 53px !important;
    padding-left: 16px;
    padding-right: 16px;
}

.form-buttons {
    display: flex;
    margin-bottom: 30px;
}

.form-buttons p {
    margin-right: 12px;
}

.create-contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px !important;
    height: 61px;
    font-size: 21px;
    font-weight: 700;
    border: 1px solid #2A3647 !important;
}

.create-contact-btn:hover {
    border: 1px solid #29ABE2 !important;
}

.create-contact-btn img {
    width: 16px;
}

.cancel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px !important;
    font-size: 21px;
    height: 61px;
    font-weight: 400;
    margin-right: 30px;
    border: 1px solid #2A3647 !important;
}

.cancel-btn-img {
    background-image: url('../img/cancel_btn.svg');
    width: 14px;
    height: 14px;
    background-size: cover;
    background-position: center;
    transition: 100ms ease-in-out;
}

.cancel-btn:hover .cancel-btn-img {
    background-image: url('../img/cancel_btn_hover.svg');
    width: 14px;
    height: 14px;
    background-size: cover;
    background-position: center;
}

.cancel-btn:hover {
    border: 1px solid #29ABE2 !important;
}

.cancel-btn img {
    width: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.error-message {
    width: 100%;
}

.error-message label {
    font-size: 10px;
    color: red;
    margin-top: 4px;
    margin-left: -8px;
}

/*****EDIT CONTACT******/

.edit-contact-section {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.467);
    backdrop-filter: blur(2px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.edit-contact-container {
    width: 1212px !important;
    height: 594px !important;
    border-radius: 30px;
    background-color: white;
    display: flex;
    position: fixed;
    top: 50;
    width: 100%;
    height: 100%;
    z-index: 1000;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.slide-in {
    animation-name: slide-in;
    animation-fill-mode: forwards;
}

.slide-out {
    animation-name: slide-out;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

.edit-contact-headline {
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #2A3647;
    width: 463px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.edit-contact-headline p {
    font-size: 27px;
    margin: 0;
    margin-top: 12px;
}

.edit-contact-headline img {
    width: 55.12px;
    height: 66.48px;
    margin-bottom: 6px;
}

.edit-contact-border {
    margin-top: 10px;
    width: 90px;
    height: 2px;
    background-color: #29ABE2;
    border-radius: 10px;
}

.cursor-text input {
    cursor: text !important;
    width: 330px !important;
}

.edit-contact-headline-height {
    height: fit-content;
    width: fit-content;
    margin-bottom: 32px;
}

.edit-contact-form-section {
    display: flex;
    justify-content: space-between;
    width: 749px;
}

.edit-contact-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 60px;
}

.empty-profile-picutre {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 200px;
    height: 100%;
}

.empty-profile-picutre img {
    width: 120px;
}

.close-form-btn {
    display: flex;
    justify-content: end;
}

.close-form-btn img {
    cursor: pointer;
}

.input-form {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input-form input {
    height: 75%;
    border-radius: 6px;
}

.input-form div {
    width: 93% !important;
    min-height: 53px !important;
    padding-left: 16px;
    padding-right: 16px;
}

.form-buttons {
    display: flex;
    margin-bottom: 30px;
}

.form-buttons p {
    margin-right: 12px;
}

.create-contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 208px !important;
    height: 61px;
    font-size: 21px;
    font-weight: 700;
    border: 1px solid #2A3647 !important;
}

.create-contact-btn:hover {
    border: 1px solid #29ABE2 !important;
}

.create-contact-btn img {
    width: 16px;
}

.cancel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px !important;
    font-size: 21px;
    height: 61px;
    font-weight: 400;
    margin-right: 30px;
    border: 1px solid #2A3647 !important;
}

.cancel-btn-img {
    background-image: url('../img/cancel_btn.svg');
    width: 14px;
    height: 14px;
    background-size: cover;
    background-position: center;
    transition: 100ms ease-in-out;
}

.cancel-btn:hover .cancel-btn-img {
    background-image: url('../img/cancel_btn_hover.svg');
    width: 14px;
    height: 14px;
    background-size: cover;
    background-position: center;
}

.cancel-btn:hover {
    border: 1px solid #29ABE2 !important;
}

.cancel-btn img {
    width: 20px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error-message {
    width: 100%;
}

.error-message label {
    font-size: 10px;
    color: red;
    margin-top: 4px;
    margin-left: -8px;
}

.cursor-text {
    cursor: text !important;
}

.save-edited-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: 130px !important;
}

.save-edited-contact p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.delete-contact-section {
    display: flex;
    align-items: end;
}

.delete-contact-btn {
    width: 40px !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-contact-btn img {
    width: 15px;
}

.delete-popup-section {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.467);
    backdrop-filter: blur(2px);
    z-index: 1000 !important;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* Füge diese Zeile hinzu */
    transition: opacity 0.3s ease;
    /* Füge diese Zeile hinzu */
    z-index: 4;
}

.delete-popup-section.visible {
    opacity: 1;
}


.delete-popup {
    width: 500px;
    height: 260px;
    border-radius: 20px;
    margin-right: 30px;
    margin-left: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 4;
}

.delete-popup.show {
    opacity: 1;
    transform: translateY(0);
}

.delete-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.delete-texts p {
    margin: 0;
    margin-top: 14px;
    margin-bottom: 10px;
}

.delete-popup-headline {
    font-size: 45px;
    font-weight: 600;
    margin-top: 18px !important;
}

.delete-popup-text {
    margin-top: 16px !important;
    font-size: 20px;
    color: #808080;
}

.delete-btns {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

.delete-cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px !important;
    height: 40px !important;
}

.delete-confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px !important;
    height: 40px !important;
    border: 2px solid #2A3647 !important;
}

.delete-confirmation:hover {
    border: 2px solid #29ABE2 !important;
}

.delete-contact-name {
    position: relative;
    display: inline-block;
    font-weight: 600;
    width: auto;
    text-align: center;
    font-size: 22px;
}

.delete-contact-name-border {
    position: relative;
    margin-top: -8px;
    height: 2px;
    background-color: #29ABE2;
}

.contactlist-info-headline {
    margin-top: 40px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactlist-border {
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: #29ABE2;
}

.pos-fixed-responsive {
    display: none;
}

.contact-info-initials-info {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 120px;
    height: 120px;
    font-size: 47px;
    color: white;
    margin-top: -30px;
}

.close-contact-info-section {
    display: none;
}

.add-phone-number {
    color: grey;
    width: fit-content;
    cursor: pointer;
    transition: 120ms ease-in-out;
}

.add-phone-number:hover {
    color: #29ABE2;
}

@media(max-width: 1360px) {

    .none-responsive {
        display: none;
    }

    .no-contacts {
        width: 100%;
    }

    .close-contact-info-section {
        margin-top: 120px;
        display: flex;
        justify-content: end;
        width: 97%;
    }

    .contact-info {
        width: 100%;
        height: 500px;
        margin-left: 270px;
    }

    .close-contact-info-section img {
        width: 25px;
        height: 25px;
    }

    .contact-info-headline {
        display: none;
    }

    .contact-info-section {
        display: none;
        position: fixed;
        background-color: white;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 1;
    }

    .contact-info-initials-name-add-task {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .contact-info-name-add-task {
        margin-top: 20px;
        padding: 0;
    }

    .add-new-contact-container {
        width: 1000px !important;
        height: 594px !important;
    }

    .empty-profile-picutre {
        margin-left: -70px;
    }

    .add-new-contact-form-section {
        justify-content: space-between;
    }

    .add-new-contact-headline-height {
        margin-left: 20px;
        font-size: 45px;
    }

    .add-new-contact-headline-height h1 {
        font-size: 45px;
    }

    .contact-list {
        display: flex;
        width: 100%;
        padding-left: 253px;
        align-items: start;
        padding-right: 15px;
    }


    .contactlist-info-headline {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-char {
        width: 100%;
        border-bottom: 1px solid black;
    }

    .contactlist-border {
        width: 50%;
        height: 4px;
        border-radius: 10px;
        background-color: #29ABE2;
    }

    .contacts-section {
        margin: 0;
    }

    .pos-fixed {
        display: none;
    }

    .new-contact img {
        margin: 0;
    }

    .pos-fixed-responsive {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 110px;
        right: 35px;
        width: 50px !important;
        height: 50px !important;
        border-radius: 100% !important;
    }
}

.close-form-btn-responsive {
    display: none;
}

@media(max-width: 1360px) {
    .add-new-contact-container {
        width: 800px !important;
        height: 494px !important;
    }

    .empty-profile-picutre {
        display: block;
        margin-left: -80px;
        margin-right: 10px;
    }

    .empty-profile-picutre img {
        position: relative;
        width: 80px;
        top: 20px;
        left: 150px;
    }

    .add-new-contact-form-section {
        justify-content: space-between;
    }

    .add-new-contact-form {
        position: relative;
        top: 20px;
        right: 60px;
    }

    .add-new-contact-headline-height {
        margin-left: 20px;
        font-size: 45px;
        margin-right: 75px;
    }

    .add-new-contact-headline-height h1 {
        font-size: 45px;
    }

    .contact-info-initials {
        margin-top: 28px;
        margin-left: 149px;
        width: 60px;
        height: 60px;
        font-size: 22px;
    }
}

@media(max-width: 840px) {
    .add-new-contact-container {
        width: 750px !important;
        height: 494px !important;
    }

    .empty-profile-picutre {
        display: block;
        margin-left: -80px;
        margin-right: 10px;
    }

    .empty-profile-picutre img {
        position: relative;
        width: 80px;
        top: 20px;
        left: 120px;
    }

    .add-new-contact-form-section {
        justify-content: space-between;
    }

    .add-new-contact-form {
        position: relative;
        top: 20px;
        right: 88px;
    }

    .add-new-contact-headline-height {
        margin-left: 20px;
        font-size: 45px;
        margin-right: 75px;
    }

    .add-new-contact-headline-height h1 {
        font-size: 45px;
    }
}

@media(max-width: 840px) {

    .contact-info-initials {
        margin-top: 15px;
        margin-left: 98px;
        width: 60px;
        height: 60px;
        font-size: 22px;
    }

    .add-new-contact-container {
        width: 570px !important;
        height: 394px !important;
    }

    .empty-profile-picutre {
        display: block;
        margin-left: -80px;
        margin-right: 10px;
    }

    .empty-profile-picutre img {
        position: relative;
        width: 50px;
        top: 20px;
        left: 100px;
    }

    .add-new-contact-form-section {
        justify-content: space-between;
    }

    .add-new-contact-form {
        position: relative;
        width: 280px;
        top: 40px;
        right: 88px;
    }

    .close-form-btn img {
        position: relative;
        top: -20px;
        right: -20px;
    }

    .input-form {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .input-form input {
        height: 75%;
        width: 85% !important;
        border-radius: 6px;
        font-size: 16px !important;
    }

    .input-form div {
        width: 100% !important;
        min-height: 40px !important;
        padding-left: 16px;
        padding-right: 16px;
    }

    .form-buttons {
        position: relative;
        bottom: 20px;
        left: -15px;
        display: flex;
        margin-bottom: 30px;
    }

    .form-buttons p {
        margin-right: 12px;
    }

    .create-contact-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 128px !important;
        height: 35px !important;
        font-size: 12px;
        font-weight: 400;
        border: 1px solid #2A3647 !important;
    }

    .create-contact-btn:hover {
        border: 1px solid #29ABE2 !important;
    }

    .create-contact-btn img {
        width: 10px;
    }

    .cancel-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px !important;
        font-size: 13px;
        height: 35px !important;
        font-weight: 400;
        margin-right: 30px;
        border: 1px solid #2A3647 !important;
    }

    .cancel-btn-img {
        background-image: url('../img/cancel_btn.svg');
        width: 9px;
        height: 9px;
        background-size: cover;
        background-position: center;
        transition: 100ms ease-in-out;
    }

    .cancel-btn:hover .cancel-btn-img {
        background-image: url('../img/cancel_btn_hover.svg');
        width: 8px;
        height: 8px;
        background-size: cover;
        background-position: center;
    }

    .cancel-btn:hover {
        border: 1px solid #29ABE2 !important;
    }

    .cancel-btn img {
        width: 20px;
    }

    .add-new-contact-headline-height {
        margin-left: 20px;
        font-size: 45px;
        margin-right: 75px;
    }

    .add-new-contact-headline-height h1 {
        font-size: 30px;
    }

    .add-new-contact-headline-height p {
        font-size: 16px;
    }
}

@media(max-width: 719px) {

    .no-contacts {
        width: 80%;
    }

    .no-contacts-text {
        text-align: justify;
    }

    .contact-char {
        width: 80%;
    }

    .contactlist-info-headline {
        align-items: start;
    }

    .contactlist-border {
        width: 62%;
        height: 4px;
        border-radius: 10px;
        background-color: #29ABE2;
    }

    .pos-fixed-responsive {
        right: 20px;
    }
}

@media(max-width: 680px) {

    .contact-information-edit-contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
    }

    .contact-info-email-phone {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
    }

    .no-contacts {
        width: 70%;
    }
}

@media(max-width: 633px) {


    .contact-char {
        width: 75%;
    }

    .pos-fixed-responsive {
        width: 40px !important;
        height: 40px !important;
        right: 15px;
    }

    .new-contact img {
        width: 20px;
    }


    .contacts {
        width: 300px;
    }


}

@media(max-width: 600px) {
    .contact-list {
        display: flex;
        width: 100%;
        padding: 0;
        padding-left: 50px;
        align-items: start;
        padding-right: 15px;
        padding-bottom: 50px;
    }

    .contact-information-edit-contact {
        display: flex;
        justify-content: space-between;
        height: 100px;
    }

    .contact-info-email-phone {
        display: flex;
        justify-content: space-between;
        height: 200px;
    }

    .contact-info {
        width: 100%;
        height: 500px;
        margin-left: 30px;
    }


    .contact-info-section {
        padding-left: 0px;
        z-index: 995 !important;
    }

    .close-contact-info-section {
        margin-top: 50px;
    }

    .contact-information-edit-contact {
        margin-top: 70px;
    }

    .contact-info-email-phone {
        margin-top: 0;
    }

    .contact-info-initials {
        margin-top: -97px;
        width: 120px;
        height: 120px;
        font-size: 54px;
    }

    .contact-char {
        width: 80%;
    }

    .add-new-contact-container {
        display: flex;
        flex-direction: column;
        width: 90% !important;
        height: fit-content !important;
    }

    .add-new-contact-headline {
        display: flex;
        flex-direction: column;
        height: 351px;
        width: 100%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0;
    }

    .add-new-contact-headline-height {
        margin: 0;
    }

    .add-new-contact-form-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 410px;
        width: 100%;
    }

    .add-new-contact-form {
        margin: 0;
    }

    .add-new-contact-headline img {
        display: none;
    }

    .add-new-contact-headline h1 {
        font-size: 1em;
    }

    .add-new-contact-headline p {
        font-size: 20px;
    }

    .empty-profile-picutre {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .empty-profile-picutre img {
        width: 120px;
        margin-top: -127px;
        margin-right: 109px;
    }

    .close-form-btn-responsive {
        display: flex;
        justify-content: end;
        margin-top: -100px;
        width: 100%;
        height: 50px;
    }

    .close-form-btn-responsive-img {
        display: block !important;
        width: 30px !important;
        height: 30px !important;
        margin-right: 20px;
        margin-top: -30px;
        cursor: pointer;
    }

    .close-form-btn img {
        display: none;
    }

    .add-new-contact-form {
        position: unset;
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        width: 80%;
    }

    .form-buttons {
        width: 100%;
        display: flex;
        left: 0;
        margin: 0;
        padding: 0;
        justify-content: center;
    }

    .create-contact-btn {
        font-size: 16px;
        margin-top: 15px;
        font-weight: 600;
        width: 180px !important;
        height: 50px !important;
    }

    .create-contact-btn img {
        width: 16px;
    }

    .cancel-btn {
        display: none;
    }

}


@media(max-width: 450px) {
    .contact-list {
        display: flex;
        width: 100%;
        padding: 0;
        padding-left: 50px;
        align-items: start;
        padding-right: 15px;
    }

    .contact-char {
        width: 70%;
    }
}

@media(max-width: 420px) {
    .contact-list {
        display: flex;
        min-width: 100%;
        padding: 0;
        align-items: start;
        height: 87%;
    }

    .no-contacts {
        width: 100%;
    }

    .no-contacts-text {
        padding-left: 10px;
        padding-right: 10px;
    }

    .add-new-contact-headline {
        height: 230px;
    }

    .close-form-btn-responsive-img {
        margin-right: 13px;
        margin-top: 20px;
    }

    .contact-char {
        margin-left: 25px;
        width: 85%;
    }

    .contactlist-info-headline {
        padding-left: 25px;
    }

    .contactlist-border {
        width: 80%;
    }

    .contacts {
        margin-left: 25px;
    }


    .close-contact-info-section img {
        margin-right: 10px;
        cursor: pointer;
    }

    .contact-info {
        margin-top: -10px;
    }

    .contact-info-initials-info {
        width: 80px;
        height: 80px;
        font-size: 32px;
    }

    .delete-popup-text {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .delete-popup-headline {
        font-size: 30px !important;
    }

    .contact-info-name {
        font-size: 30px;
    }

    .contact-information-edit-contact {
        margin-top: 20px;
    }
}