.help-container {
    margin-top: 120px;
    margin-bottom: 120px;
}

.main-container {
    padding-left: 100px;
    padding-right: 100px;
}

.main-container p {
    text-align: justify;
}


.main-container h1 {
    word-wrap: break-word;
    margin-top: 60px;
}

.main-container h2 {
    margin-top: 50px;
}

.main-container h3 {
    margin-top: 30px;
}


.impressum {
    margin-top: 120px !important;
}



@media(max-width: 1130px) {

    .main-container h1 {
        font-size: 300% !important;
    }

    .main-container {
        font-size: 90% !important;
    }
}

@media(max-width: 930px) {

    .main-container {
        padding-left: 50px;
        padding-right: 50px;
    }

}

@media(max-width: 930px) {

    .main-container h1 {
        font-size: 250% !important;
    }

}

@media(max-width: 740px) {

    .main-container {
        padding-left: 10px;
        padding-right: 10px;
    }

}

@media(max-width: 664px) {

    .main-container h1 {
        font-size: 200% !important;
    }

    .main-container {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

}

@media(max-width: 600px) {

    .main-container {
        margin-left: 0 !important;
    }

}

@media(max-width: 355px) {

    .main-container h1 {
        font-size: 180% !important;
    }

}