.login-section {
    height: 100vh;
}

/*LOGIN HEADER*/
.login-header {
    display: flex;
    justify-content: end;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
}

.join-logo {
    width: 110px;
    padding-left: 20px;
}

.sign-up-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 315px;
    height: 35px;
    padding-right: 50px;
}

.sign-up-header span {
    font-size: 20px;
}

.sign-up-header button {
    border: 0;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(42, 54, 71);
    color: white;
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.sign-up-header button:hover {
    background-color: rgb(41, 171, 226);
    -webkit-box-shadow: 0px 10px 9px -3px #979797;
    box-shadow: 0px 5px 9px -3px #979797;
}

/**********************************************************************/

/*LOGIN MAIN*/
.log-in-main {
    display: flex;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 173px;
}

.login-email {
    margin-top: 11px;
}

.login-password {
    margin-bottom: 19px;
}


.log-in {
    margin-top: 10em;
    width: 600px;
    height: 485px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 12px 1px rgba(151, 151, 151, 0.64);
    box-shadow: 0px 0px 12px 1px rgb(151 151 151 / 20%);
}

.log-in-title {
    margin-top: 25px;
    font-size: 55px;
    font-weight: 700;
}

.sign-up-title {
    margin-top: -30px;
    font-size: 50px;
    font-weight: 700;
}

.log-in-border {
    background-color: rgb(41, 171, 226);
    margin-top: 15px;
    margin-bottom: 20px;
    min-height: 3px;
    width: 130px;
    border-radius: 16px;
}

.input-field {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(209, 209, 209);
    height: 50px;
    border-radius: 10px;
    transition: 100ms ease-in-out;
    cursor: text;
}

input:focus {
    outline: none;
}

.input-field:focus-within {
    border: 1px solid rgb(119, 119, 119);
}

.input-field input {
    width: 81%;
    height: 75%;
    border: 0;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    margin-left: -10px;
    margin-right: 15px;
}

.input-field input::placeholder {
    width: 90%;
    border: 0;
    color: rgb(209, 209, 209);
    font-size: 20px;
}

.email {
    margin-top: 10px;
    margin-bottom: 40px;
}

.options {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.remember-me-option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.checkbox {
    margin-right: 10px;
}

.forgot-pw-option {
    margin-left: 20px;
}

.forgot-pw-option a {
    text-decoration: none;
    color: rgb(68, 182, 230);
}

.log-in-buttons {
    width: 54%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 33px;
}

.log-in-buttons button {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    height: 50px;
    font-weight: 600;
    border-radius: 10px;
}

.log-in-btn {
    width: 130px;
}

.password-lock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 21px;
    background-size: cover;
    background-position: center;
    transition: ease-in-out 125ms;
}

.hide-password {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/show_password.svg);
    width: 19px;
    height: 15px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.show-password {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/hide_password.svg);
    width: 19px;
    height: 15px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.sign-up-bottom {
    display: none;
}

/*SIGN UP MAIN*/

.sign-up-height {
    height: 485px;
    margin-top: 195px;
}

.sign-up-btn {
    border: 0;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(42, 54, 71);
    color: white;
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.user-img {
    width: 19px;
    height: 19px;
}

.user {
    margin-top: 10px;
    margin-bottom: 30px;
}

.back-btn {
    width: 100%;
}

.back-btn img {
    margin-top: 35px;
    margin-left: 35px;
    cursor: pointer;
}

.form-sign-up {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-message-sign-up {
    width: 70%;
}

.error-message-sign-up label {
    font-size: 10px;
    color: red;
    margin-top: -28px;
    margin-left: 6px;
}

/**********************************************************************/

.error-message-login {
    width: 70%;
}

.error-message-login label {
    font-size: 10px;
    color: red;
    margin-top: -18px;
    margin-left: 10px;
}

.error-message-login-password {
    width: 70%;
}

.error-message-login-password label {
    font-size: 10px;
    color: red;
    margin-top: -17px;
    margin-left: 10px;
}

.forgt-ym-pw-section {
    display: flex;
    justify-content: center;
    margin-top: -59em;
}

.forgot-my-pw-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    margin-top: 13em;
    width: 826px;
    height: 462px;
}

.forgot-my-pw-container h1 {
    margin-top: -25px;
    margin-bottom: 30px;
}

.forgot-border {
    margin-top: -10px;
}

.forgot-my-pw-container span{
    text-align: center;
    margin-top: 10px;
    font-size: 21px;
    font-weight: 400;
}

.forgot-my-pw-input {
    margin-top: 35px;
    width: 50%;
}

.send-email-btn {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.send-email-btn span{
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
}

/*LOGO ANIMATION*/
.white-background {
    width: 100%;
    height: 100vh;
    background-color: rgb(246, 247, 248);
    position: fixed;
    top: 0;
}

.animate-white-background {
    animation: hideBackground 0.8s 0.2s forwards;
}

@keyframes fromCenterToCurrentPosition {
    from {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 300px;
    }

    to {
        transform: translateX(0);
        top: 0;
        left: 0;
        width: 110px;
    }
}

.join-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    animation: fromCenterToCurrentPosition 0.8s 0.2s forwards;
    padding-left: 60px;
    padding-top: 80px;
}

@keyframes hideBackground {
    0% {
        opacity: 1;
        z-index: 0;
    }

    99% {
        opacity: 0.01;
        z-index: 0;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

/**********************************************************************/

/*RESPONSIVE*/

@media (max-width: 870px) {
    .forgot-my-pw-container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 830px) {
    .forgot-my-pw-container h1{
        font-size: 50px;
        margin-top: 30px;
    }

    .forgot-my-pw-container span{
        margin-left: 16px;
        margin-right: 16px;
    }

    .send-email-btn {
        margin-top: 30px;
    }

    .forgot-my-pw-input {
        width: 80%;
    }
}

@media (max-width: 624px) {

    @keyframes fromCenterToCurrentPosition {
        from {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 300px;
        }

        to {
            transform: translateX(0);
            top: 0;
            left: 0;
            width: 80px;
        }
    }

    .join-logo {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: auto;
        animation: fromCenterToCurrentPosition 0.8s 0.2s forwards;
        padding-left: 30px;
        padding-top: 30px;
    }

    .log-in {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 7em;
    }

    .log-in-buttons {
        width: 70%;
    }

    .sign-up-header {
        display: none;
    }

    .sign-up-bottom-section {
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .sign-up-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 310px;
        height: 35px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .sign-up-bottom span {
        font-size: 25px;
    }

    .sign-up-bottom button {
        border: 0;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        background-color: rgb(42, 54, 71);
        color: white;
        transition: 100ms ease-in-out;
        cursor: pointer;
    }

    .sign-up-bottom button:hover {
        background-color: rgb(41, 171, 226);
        -webkit-box-shadow: 0px 10px 9px -3px #979797;
        box-shadow: 0px 5px 9px -3px #979797;
    }
}

@media (max-width: 580px) {
    .forgot-my-pw-container h1{
        font-size: 40px;
        margin-top: 30px;
    }

    .forgot-my-pw-container span{
        font-size: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .send-email-btn {
        margin-top: 30px;
    }

    .forgot-my-pw-input {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .forgot-my-pw-container h1{
        font-size: 30px;
        margin-top: 30px;
    }

    .forgot-my-pw-container span{
        font-size: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }

    .send-email-btn {
        margin-top: 30px;
    }

    .forgot-my-pw-input {
        width: 80%;
    }

}

@media (max-width: 515px) {

    @keyframes fromCenterToCurrentPosition {
        from {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 300px;
        }

        to {
            transform: translateX(0);
            top: 0;
            left: 0;
            width: 80px;
        }
    }

    .join-logo {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: auto;
        animation: fromCenterToCurrentPosition 0.8s 0.2s forwards;
        padding-left: 30px;
        padding-top: 30px;
    }

    .sign-up-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 270px;
        height: 35px;
        padding-left: 20px;
        padding-right: 20px;
    }


    .log-in-title {
        margin-top: 33px;
        font-size: 50px;
    }

    .options {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin-top: 20px;
    }

    .log-in-border {
        width: 100px;
        height: 3px;
        margin-top: 10px;
        margin-bottom: 1px;
    }

    .email {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .input-field {
        width: 90%;
        height: 40px;
    }

    .input-field input {
        height: 91%;
    }

    .login-form {
        justify-content: space-around;
    }

    .log-in {
        margin-top: 10em;
        height: 550px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .forgot-pw-option {
        margin-left: 0;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .log-in-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .log-in-buttons button {
        width: 200px;
    }

    .dark-btn {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .transparent-btn {
        margin-top: 15px;
        margin-bottom: 40px;
    }

    .login-header {
        padding-top: 0;
        padding-left: 0;
    }

    .sign-up-bottom-section {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    .sign-up-bottom span {
        font-size: 20px;
    }

    .user-margin-top {
        margin-top: 40px;
    }

    .sign-up-height {
        height: 450px;
    }

    .sign-up-btn {
        margin-top: 16px;
    }

    .back-btn img {
        margin-top: 25px;
        margin-left: 25px;
        cursor: pointer;
    }

    .sign-up-title {
        margin-top: -30px;
        font-size: 40px;
        font-weight: 700;
    }

    .error-message-sign-up label {
        margin-left: -28px;
    }
}

@media (max-width: 390px) {

    @keyframes fromCenterToCurrentPosition {
        from {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 100px;
        }

        to {
            transform: translateX(0);
            top: 0;
            left: 0;
            width: 50px;
        }
    }

    .join-logo {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: auto;
        animation: fromCenterToCurrentPosition 0.8s 0.2s forwards;
        padding-left: 30px;
        padding-top: 30px;
    }

    .sign-up-title {
        margin-top: -8px;
        font-size: 40px;
        font-weight: 700;
    }

    .sign-up-bottom {
        display: flex;
        justify-content: space-between;
    }

    .back-btn img {
        margin-top: 15px;
        margin-left: 15px;
        cursor: pointer;
    }

    .log-in {
        margin-top: 8em;
    }

    .white-background {
        width: 100%;
        height: 100vh;
        background-color: rgb(78, 146, 235);
        position: fixed;
        top: 0;
    }

    .animate-white-background {
        animation: hideBackground 0.8s 0.2s forwards;
    }

    .error-message-sign-up label {
        margin-left: -28px;
    }
    
    .sign-up-btn {
        margin-top: 16px;
    }
}

/**********************************************************************/