.login-section {
    height: 100vh;
}

/*LOGIN HEADER*/
.login-header {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
}

.join-logo {
    width: 150px;
    padding-left: 20px;
}

.sign-up-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 35px;
    padding-right: 50px;
}

.sign-up-header span {
    font-size: 25px;
}

.sign-up-header button {
    border: 0;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(42, 54, 71);
    color: white;
    transition: 100ms ease-in-out;
}

.sign-up-header button:hover {
    background-color: rgb(41, 171, 226);
    -webkit-box-shadow: 0px 10px 9px -3px #979797;
    box-shadow: 0px 5px 9px -3px #979797;
}

/**********************************************************************/

/*LOGIN MAIN*/
.log-in-main {
    display: flex;
    justify-content: center;
}

.log-in {
    margin-top: 60px;
    width: 600px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 12px 1px rgba(151, 151, 151, 0.64);
    box-shadow: 0px 0px 12px 1px rgb(151 151 151 / 20%);

}

.log-in-title {
    margin-top: 15px;
    font-size: 64px;
    font-weight: 700;
}

.log-in-border {
    background-color: rgb(41, 171, 226);
    margin-top: 10px;
    margin-bottom: 20px;
    height: 3px;
    width: 170px;
    border-radius: 20px;
}

.input-field {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(209, 209, 209);
    height: 50px;
    border-radius: 10px;
    transition: 100ms ease-in-out;
}

input:focus {
    outline: none;
}

.input-field:focus-within {
    border: 1px solid rgb(119, 119, 119);
}

.input-field input {
    height: 100%;
    width: 85%;
    border: 0;
}

.input-field input::placeholder {
    width: 90%;
    border: 0;
    color: rgb(209, 209, 209);
    font-size: 20px;
}

.email {
    margin-top: 10px;
    margin-bottom: 40px;
}

.options {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.remember-me-option {
    margin-right: 20px;
}

.checkbox {
    margin-right: 10px;
}

.forgot-pw-option {
    margin-left: 20px;
}

.forgot-pw-option a {
    text-decoration: none;
    color: rgb(68, 182, 230);
}

.log-in-buttons {
    width: 58%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 33px;
}

.log-in-buttons button {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    height: 50px;
    font-weight: 600;
    border-radius: 10px;
}

.password-lock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 21px;
    background-size: cover;
    background-position: center;
    transition: ease-in-out 125ms;
}

.hide-password {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/show-password.svg);
    width: 19px;
    height: 19px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.show-password {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/hide-password.svg);
    width: 19px;
    height: 19px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.sign-up-bottom {
    display: none;
}

/**********************************************************************/

/*RESPONSIVE*/
@media (max-width: 624px) {
    .log-in {
        margin-left: 15px;
        margin-right: 15px;
    }

    .log-in-buttons {
        width: 70%;
    }

    .sign-up-header {
        display: none;
    }

    .sign-up-bottom-section {
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .sign-up-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 360px;
        height: 35px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .sign-up-bottom span {
        font-size: 25px;
    }

    .sign-up-bottom button {
        border: 0;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        background-color: rgb(42, 54, 71);
        color: white;
        transition: 100ms ease-in-out;
    }

    .sign-up-bottom button:hover {
        background-color: rgb(41, 171, 226);
        -webkit-box-shadow: 0px 10px 9px -3px #979797;
        box-shadow: 0px 5px 9px -3px #979797;
    }

}

@media (max-width: 515px) {
    .options {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin-top: 20px;
    }

    .input-field {
        width: 90%;
    }

    .log-in {
        margin-top: 20px;
    }

    .forgot-pw-option {
        margin-left: 0;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .log-in-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .log-in-buttons button {
        width: 200px;
    }

    .dark-btn {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .transparent-btn {
        margin-top: 15px;
        margin-bottom: 40px;
    }

    .login-header {
        padding-top: 0;
        padding-left: 0;
    }

    .join-logo {
        margin: 20px;
        width: 80px;
    }

    .sign-up-bottom-section {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 350px) {
    .sign-up-bottom {
        display: flex;
        justify-content: space-around;
    }

    .sign-up-bottom span {
        font-size: 1.2em;
    }
}

/**********************************************************************/