.login-section {
    height: 100vh;
}

/*LOGIN HEADER*/
.login-header {
    display: flex;
    justify-content: end;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
}

.join-logo {
    width: 110px;
    padding-left: 20px;
}

.sign-up-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 315px;
    height: 35px;
    padding-right: 50px;
}

.sign-up-header span {
    font-size: 20px;
}

.sign-up-header button {
    border: 0;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(42, 54, 71);
    color: white;
    transition: 100ms ease-in-out;
}

.sign-up-header button:hover {
    background-color: rgb(41, 171, 226);
    -webkit-box-shadow: 0px 10px 9px -3px #979797;
    box-shadow: 0px 5px 9px -3px #979797;
}

/**********************************************************************/

/*LOGIN MAIN*/
.log-in-main {
    display: flex;
    justify-content: center;
}

.log-in {
    margin-top: 10em;
    width: 600px;
    height: 480px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 12px 1px rgba(151, 151, 151, 0.64);
    box-shadow: 0px 0px 12px 1px rgb(151 151 151 / 20%);
}

.log-in-title {
    margin-top: 25px;
    font-size: 55px;
    font-weight: 700;
}

.sign-up-title {
    margin-top: -30px;
    font-size: 50px;
    font-weight: 700;
}

.log-in-border {
    background-color: rgb(41, 171, 226);
    margin-top: 15px;
    margin-bottom: 20px;
    height: 3px;
    width: 130px;
    border-radius: 16px;
}

.input-field {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(209, 209, 209);
    height: 50px;
    border-radius: 10px;
    transition: 100ms ease-in-out;
}

input:focus {
    outline: none;
}

.input-field:focus-within {
    border: 1px solid rgb(119, 119, 119);
}

.input-field input {
    width: 85%;
    height: 91%;
    border: 0;
    font-size: 20px;
}

.input-field input::placeholder {
    width: 90%;
    border: 0;
    color: rgb(209, 209, 209);
    font-size: 20px;
}

.email {
    margin-top: 10px;
    margin-bottom: 40px;
}

.options {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.remember-me-option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.checkbox {
    margin-right: 10px;
}

.forgot-pw-option {
    margin-left: 20px;
}

.forgot-pw-option a {
    text-decoration: none;
    color: rgb(68, 182, 230);
}

.log-in-buttons {
    width: 54%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 33px;
}

.log-in-buttons button {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    height: 50px;
    font-weight: 600;
    border-radius: 10px;
}

.log-in-btn {
    width: 130px;
}

.password-lock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 21px;
    background-size: cover;
    background-position: center;
    transition: ease-in-out 125ms;
}

.hide-password {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/show_password.svg);
    width: 19px;
    height: 15px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.show-password {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/hide_password.svg);
    width: 19px;
    height: 15px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.sign-up-bottom {
    display: none;
}

/*SIGN UP MAIN*/

.sign-up-height {
    height: 485px;
    margin-top: 195px;
}

.sign-up-btn {
    border: 0;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(42, 54, 71);
    color: white;
    transition: 100ms ease-in-out;
}

.user-img {
    width: 19px;
    height: 19px;
}

.user {
    margin-top: 10px;
    margin-bottom: 30px;
}

.back-btn {
    width: 100%;
}

.back-btn img {
    margin-top: 35px;
    margin-left: 35px;
    cursor: pointer;
}

/**********************************************************************/

/*LOGO ANIMATION*/
.white-background {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    animation: hideBackground 1.5s 0.2s forwards;
}

@keyframes fromCenterToCurrentPosition {
    from {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 300px;
    }

    to {
        transform: translateX(0);
        top: 0;
        left: 0;
        width: 110px;
    }
}

.join-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: auto;
    animation: fromCenterToCurrentPosition 0.8s 0.2s forwards;
    padding-left: 60px;
    padding-top: 80px;
}

@keyframes hideBackground {
    0% {
        opacity: 1;
        z-index: 0;
    }

    99% {
        opacity: 0.1;
        z-index: 0;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}







/**********************************************************************/

/*RESPONSIVE*/
@media (max-width: 624px) {
    .log-in {
        margin-left: 15px;
        margin-right: 15px;
    }

    .log-in-buttons {
        width: 70%;
    }

    .sign-up-header {
        display: none;
    }

    .sign-up-bottom-section {
        width: 100%;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }

    .sign-up-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 310px;
        height: 35px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .sign-up-bottom span {
        font-size: 25px;
    }

    .sign-up-bottom button {
        border: 0;
        width: 100px;
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 600;
        background-color: rgb(42, 54, 71);
        color: white;
        transition: 100ms ease-in-out;
    }

    .sign-up-bottom button:hover {
        background-color: rgb(41, 171, 226);
        -webkit-box-shadow: 0px 10px 9px -3px #979797;
        box-shadow: 0px 5px 9px -3px #979797;
    }

}

@media (max-width: 515px) {
    .sign-up-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 270px;
        height: 35px;
        padding-left: 20px;
        padding-right: 20px;
    }


    .log-in-title {
        margin-top: 33px;
        font-size: 50px;
    }

    .options {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin-top: 20px;
    }

    .log-in-border {
        width: 100px;
        height: 3px;
        margin-top: 10px;
        margin-bottom: 1px;
    }

    .email {
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .input-field {
        width: 90%;
        height: 40px;
    }

    .input-field input {
        height: 91%;
    }

    .log-in {
        margin-top: 20px;
        height: 520px;
        margin-left: 25px;
        margin-right: 25px;
    }

    .forgot-pw-option {
        margin-left: 0;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .log-in-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .log-in-buttons button {
        width: 200px;
    }

    .dark-btn {
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .transparent-btn {
        margin-top: 15px;
        margin-bottom: 40px;
    }

    .login-header {
        padding-top: 0;
        padding-left: 0;
    }

    .join-logo {
        margin: 20px;
        width: 80px;
    }

    .sign-up-bottom-section {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }

    .sign-up-bottom span {
        font-size: 20px;
    }

    .user-margin-top {
        margin-top: 40px;
    }

    .sign-up-height {
        height: 450px;
    }

    .sign-up-btn {
        margin-top: 0px;
    }

    .back-btn img {
        margin-top: 25px;
        margin-left: 25px;
        cursor: pointer;
    }

    .sign-up-title {
        margin-top: -30px;
        font-size: 40px;
        font-weight: 700;
    }
}

@media (max-width: 350px) {
    .sign-up-bottom {
        display: flex;
        justify-content: space-around;
    }

    .back-btn img {
        margin-top: 15px;
        margin-left: 15px;
        cursor: pointer;
    }
}

/**********************************************************************/