.join-menu {
    position: fixed;
    top: 0px;
    width: 232px;
    height: 100%;
    background: rgb(42, 54, 71);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-headline {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    width: 100%;
    height: 89px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-size: 21px;
}

.headline-logo {
    height: 39px;
    padding-left: 25px;
    display: none;
}

.join-title {
    padding-left: 350px;
}

.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 129px;
    height: 100%;
    padding-right: 36px;
}

.profile-section img {
    width: 31px;
    height: 31px;
    padding-left: 16px;
}

.profile {
    width: 49px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e80aa;
    font-weight: 200;
    color: white;
    border: 3px solid #2A3647;
    border-radius: 100%;
}

.profile p {
    font-size: 14px;
}

.join-logo-menu {
    width: 100.3px;
    height: 121.97px;
    margin-top: 66px;
    margin-bottom: 66px;
}

.menu {
    width: 100%;
}

.menu-icon-text {
    font-family: 'Inter' !important;
    font-weight: 300;
    font-size: 16px;
    color: white;
    height: 46px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.menu-icon-text:hover {
    background-color: rgb(9, 25, 49);
}

.text {
    display: flex;
    justify-content: start;
    width: 100%;
}

.icon {
    width: 37px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
    margin-right: 20px;
}

.icon img {
    width: 25px;
}

.contacts-icon {
    width: 20px !important;
}

.legal-notice {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 120px;
}

.legal-notice-icon {
    margin-left: 44px !important;
}

@media(max-width: 600px) {

    .join-menu {
        display: none;
    }

    .headline-logo {
        display: block;
    }

    .profile-section {
        width: auto;
        padding-right: 20px;
    }

    .join-title {
        left: 20px;
        top: 105px;
        padding-left: 0px;
        font-size: 14px;
    }

    .question-mark {
        display: none;
    }

}

@media(max-width: 400px) {
    .join-title {
        display: none;
    }
}