.join-menu {
    position: fixed;
    top: 0px;
    width: 232px;
    height: 100%;
    background: rgb(42, 54, 71);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-headline {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    width: 100%;
    height: 89px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    font-size: 21px;
    z-index: 1;
}

.headline-logo {
    height: 39px;
    padding-left: 25px;
    display: none;
}

.join-title {
    padding-left: 350px;
}

.profile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 129px;
    height: 100%;
    padding-right: 36px;
}

.profile-section img {
    width: 31px;
    height: 31px;
    padding-left: 16px;
}

.profile {
    width: 47px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e80aa;
    font-size: 19px;
    font-weight: 400;
    color: white;
    border-radius: 100%;
    box-shadow: inset 0 0 0 2px white, 0 0 0 3px #1e80aa;
    transition: 100ms ease-in-out;
    cursor: pointer;
}


.profile:hover {
    color: rgb(41, 171, 226);
    box-shadow: inset 0 0 0 2px rgb(41, 171, 226), 0 0 0 3px #1e80aa;
}

.join-logo-menu {
    width: 100.3px;
    height: 121.97px;
    margin-top: 66px;
    margin-bottom: 66px;
    cursor: pointer;
}

.menu {
    width: 100%;
}

.menu-icon-text {
    font-family: 'Inter' !important;
    font-weight: 300;
    font-size: 16px;
    color: white;
    height: 46px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.menu-icon-text:hover {
    background-color: rgb(9, 25, 49);
}

.text {
    display: flex;
    justify-content: start;
    width: 100%;
}

.icon {
    width: 37px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 55px;
    margin-right: 20px;
}

.icon img {
    width: 25px;
}

.contacts-icon {
    width: 20px !important;
}

.legal-notice {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 120px;
}

.legal-notice-icon {
    margin-left: 44px !important;
}

.drop-down-logout {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 50px;
    background-color: #2A3647;
    right: 58px;
    top: 89px;
    color: white;
    font-weight: 200;
    font-size: 18px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px 0px 10px 10px;
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.drop-down-logout:hover {
    color: #2fbcf8;
}

@media(max-width: 600px) {

    .join-menu {
        display: none;
    }

    .join-headline {
        z-index: 999;
    }

    .headline-logo {
        display: block;
    }

    .profile-section {
        width: auto;
        padding-right: 20px;
    }

    .join-title {
        left: 20px;
        top: 105px;
        padding-left: 0px;
        font-size: 14px;
    }

    .question-mark {
        display: none;
    }

}

@media(max-width: 400px) {
    .join-title {
        display: none;
    }
}