body {
    font-family: 'Inter';
    background-color: #F6F7F8;
    /* background gray all over  */
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: rgb(246, 247, 248) !important;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h1 {
    font-size: 61px;
    margin: 0;
}

h2 {
    font-size: 21px;
    font-weight: 700;
    margin: 0;
}

.d-none {
    display: none !important;
}

/*BUTTONS*/
.dark-btn {
    border: 0;
    background-color: rgb(42, 54, 71);
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.dark-btn:hover {
    background-color: rgb(68, 182, 230);
    -webkit-box-shadow: 0px 10px 9px -3px #979797;
    box-shadow: 0px 5px 9px -3px #979797;
}

.dark-btn:focus {
    background-color: #091931;
}

.transparent-btn {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(42, 54, 71);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.transparent-btn:hover {
    border: 2px solid rgb(41, 171, 226);
    color: rgb(41, 171, 226);
    -webkit-box-shadow: 0px 10px 9px -3px #979797;
    box-shadow: 0px 5px 9px -3px #979797;
}

/******************************/

/* Maincontainer for board, summary, addtask ... */

.main-container {
    margin-left: 232px;
    margin-top: 89px;
    height: 100%;
    width: calc(100%-232px);
}

/* headline container for board, summary, addtask ... */
.headline-container {
    padding-left: 70px;
    padding-top: 82px;
    padding-right: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* overlay by open dialogs */

.overlay-dialog-center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* use it if you have a dialog-window */
.dialog-design {
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

/* close button x */
.x-btn {
    height: 25px;
    cursor: pointer;
}

.x-btn:hover {
    filter: invert(59%) sepia(97%) saturate(1585%) hue-rotate(165deg) brightness(93%) contrast(90%);
}

/* remove the scroll bar by open a dialog window - best set it to a bodyId */
.overflow-dialog {
    overflow: hidden;
}