body {
    font-family: 'Inter';
    background-color: #F6F7F8;
    overflow-x: hidden;
    /* background gray all over  */
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: rgb(246, 247, 248) !important;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h1 {
    font-size: 61px;
    margin: 0;
}

h2 {
    font-size: 21px;
    font-weight: 700;
    margin: 0;
}

.d-none {
    display: none !important;
}

.clicked {
    background-color: rgb(9, 25, 49);
}

/*BUTTONS*/
.dark-btn {
    border: 0;
    background-color: rgb(42, 54, 71);
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.dark-btn:hover {
    background-color: rgb(68, 182, 230);
    -webkit-box-shadow: 0px 10px 9px -3px #979797;
    box-shadow: 0px 5px 9px -3px #979797;
}

.dark-btn:active {
    background-color: #091931;
}

.transparent-btn {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(42, 54, 71);
    width: 150px;
    height: 50px;
    border-radius: 10px;
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.transparent-btn:hover {
    border: 2px solid rgb(41, 171, 226);
    color: rgb(41, 171, 226);
    -webkit-box-shadow: 0px 10px 9px -3px #979797;
    box-shadow: 0px 5px 9px -3px #979797;
}

/******************************/

/* Maincontainer for board, summary, addtask ... */

.main-container {
    margin-left: 232px;
    margin-top: 89px;
    padding-bottom: 35px;
    height: 100%;
    width: calc(100%-232px);
}

/* headline container for board, summary, addtask ... */
.headline-container {
    padding-left: 70px;
    padding-top: 82px;
    padding-right: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* overlay by open dialogs */

.overlay-dialog-center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 995;
}

/* use it if you have a dialog-window */
.dialog-design {
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

/* close button x */
.x-btn {
    height: 25px;
    cursor: pointer;
}

.x-btn:hover {
    filter: invert(59%) sepia(97%) saturate(1585%) hue-rotate(165deg) brightness(93%) contrast(90%);
}

/* remove the scroll bar by open a dialog window - best set it to a bodyId */
.overflow-dialog {
    overflow: hidden;
}

/* open slide Window div for AddTask*/
.add-task-content {
    height: calc(100% - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.confirmation-popup {
    position: fixed;
    bottom: -80px;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 326px;
    height: 74px;
    border-radius: 20px;
    background-color: #2A3647;
    font-weight: 300;
    font-size: 21px;
    transition: bottom 0.3s ease-in-out;
}

.confirmation-popup.show {
    bottom: 120px;
}

/********************************WARNING SECTION********************************/

.join-warning-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.join-warning-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    padding-left: 60px;
    padding-top: 80px;
}

.join-warning-section h1 {
    margin-bottom: 32px;
}

.welcome-headline {
    display: flex;    
}

.welcome-join-text {
    margin-left: 40px;
}

.colored-underline {
    text-decoration: none;
    position: relative;
}

.colored-underline::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    border-bottom: 6px solid #29abe2;
    border-radius: 10px;
}

.colored-underline {
    padding-bottom: 1px;
}

.warning-text-container {
    width: 700px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 12px 1px rgba(119, 119, 119, 0.2);
    box-shadow: 0px 0px 12px 1px rgba(119, 119, 119, 0.2);
    border-radius: 32px;
    padding: 32px;
}

.warning-text-container p {
    text-align: justify;
    line-height: 1.5;
}

.confirm-leave-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.confirm-leave-btn button{
    margin-left: 16px;
    margin-right: 16px;
    font-size: 20px;
}

.confirm-btn {
    font-weight: 600;
}


/*******************************************************************************/
