body {
    font-family: 'Inter';
    background-color: #F6F7F8;
    /* background gray all over  */
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    background-color: rgb(246, 247, 248) !important;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

h1 {
    font-size: 61px;
    margin: 0;
}

h2 {
    font-size: 21px;
    font-weight: 700;
    margin: 0;
}

.d-none {
    display: none;
}

/*BUTTONS*/
.dark-btn {
    border: 0;
    background-color: rgb(42, 54, 71);
    color: white;
    width: 140px;
    transition: 100ms ease-in-out;
}

.dark-btn:hover {
    background-color: rgb(68, 182, 230);
    -webkit-box-shadow: 0px 10px 9px -3px #979797;
    box-shadow: 0px 5px 9px -3px #979797;
}

.transparent-btn {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(42, 54, 71);
    width: 175px;
    transition: 100ms ease-in-out;
}

.transparent-btn:hover {
    border: 2px solid rgb(41, 171, 226);
    color: rgb(41, 171, 226);
    -webkit-box-shadow: 0px 10px 9px -3px #979797;
    box-shadow: 0px 5px 9px -3px #979797;
}

/******************************/

/* Maincontainer for board, summary, addtask ... */

.main-container {
    margin-left: 232px;
    margin-top: 89px;
    height: 100%;
    width: calc(100%-232px);
}

/* headline container for board, summary, addtask ... */
.headline-container {
    padding-left: 70px;
    padding-top: 82px;
    padding-right: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}